/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none outside none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
img,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

header {
  background-color: #7477bf;
}

nav {
  background-color: #fbaea8;
}

main {
  background-color: #aad2ed;
}

aside {
  background-color: #4d4c72;
}

footer {
  background-color: #6e859c;
}

/* ============================================= */
/*              Header Styles                    */
/* ============================================= */
header {
  text-align: center;
  color: white;
}

@media (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
header .logo {
  font-size: 1.5em;
  font-weight: bold;
  margin: 20px 20px;
}

header .setting {
  text-align: center;
  margin: 0 20px;
}

@media (min-width: 768px) {
  header .setting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
header .setting li {
  height: 80px;
  padding-right: 15px;
}

header .setting .notification {
  vertical-align: 50%;
  width: 30px;
  max-width: 100%;
  margin: 25px 0;
}

@media (min-width: 768px) {
  header .setting .notification {
    border-right: 1px solid #fefefe;
  }
}
header .setting .profile-avatar {
  width: 50px;
  max-width: 100%;
  border-radius: 50%;
  padding: 15px 0;
}

header .setting .user-name {
  vertical-align: center;
  font-size: 1.2em;
  padding: 31px 0;
}

/* ============================================= */
/*              Aside Layout                     */
/* ============================================= */
aside {
  padding: 25px 0;
}

aside .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media (min-width: 768px) {
  aside .nav {
    display: block;
  }
}
aside .nav li {
  width: 100%;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  aside .nav li {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}
@media (min-width: 320px) {
  aside .nav li:hover {
    border-bottom: 4px solid #81c98f;
  }
}
@media (min-width: 768px) {
  aside .nav li:hover {
    border-bottom: none;
    border-left: 4px solid #81c98f;
  }
}
aside .nav li .nav-icon {
  width: 60%;
  margin: 0 20%;
  fill: #b2b2b2;
}

aside .nav li .nav-icon:hover {
  fill: white;
}

/* ============================================= */
/*              Grid Layout                      */
/* ============================================= */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "aside" "main";
  grid-auto-rows: minmax(80px, auto);
}

@media (min-width: 768px) {
  .grid-container {
    -ms-grid-columns: 1fr 9fr;
    grid-template-columns: 1fr 9fr;
    -ms-grid-rows: 80px minmax(1000px, auto);
    grid-template-rows: 80px minmax(1000px, auto);
    grid-template-areas: "header header" "aside main";
  }
}
@media (min-width: 1024px) {
  .grid-container {
    -ms-grid-columns: 1fr 18fr;
    grid-template-columns: 1fr 18fr;
  }
}
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
