/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none outside none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
img,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
}

header {
  background-color: #7477bf;
}

aside {
  background-color: #4d4c72;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ============================================= */
/*              Header Styles                    */
/* ============================================= */
header {
  color: white;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  height: 60px;
  line-height: 60px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}

header .right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .right-wrapper .setting .bell {
  height: 30px;
  max-width: 100%;
  margin: 25px 0;
  padding-right: 5px;
  border-right: 1px solid #fefefe;
}

header .right-wrapper .setting #notification {
  display: none;
}

header .right-wrapper .profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px 0 20px 5px;
}

header .right-wrapper .user-name {
  height: 60px;
  line-height: 60px;
  font-size: 1em;
  margin: 10px 10px 10px 5px;
}

/* ============================================= */
/*              Aside Layout                     */
/* ============================================= */
aside .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  aside .nav {
    display: block;
  }
}

aside .nav li {
  width: 100%;
  padding: 15px 0;
}

@media (min-width: 768px) {
  aside .nav li {
    margin-bottom: 30px;
    padding-bottom: 0;
  }
}

@media (min-width: 320px) {
  aside .nav li:hover {
    border-bottom: 4px solid #81c98f;
  }
}

@media (min-width: 768px) {
  aside .nav li:hover {
    border-bottom: none;
    border-left: 4px solid #81c98f;
  }
}

aside .nav li .nav-icon {
  width: 60%;
  margin: 0 20%;
  fill: #b2b2b2;
}

aside .nav li .nav-icon:hover {
  fill: white;
}

/* ============================================= */
/*              Grid Layout                      */
/* ============================================= */
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "aside" "main";
}

@media (min-width: 768px) {
  .grid-container {
    -ms-grid-columns: 60px 1fr;
        grid-template-columns: 60px 1fr;
        grid-template-areas: "header header" "aside main";
  }
}

@media (min-width: 1024px) {
  .grid-container {
    -ms-grid-columns: 80px 1fr;
        grid-template-columns: 80px 1fr;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: aside;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

/* ============================================= */
/*              Dashboard Header Styles          */
/* ============================================= */
.main-header {
  text-align: center;
  font-size: 1.4em;
}

@media (min-width: 768px) {
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.main-header .headline {
  color: #676767;
  font-weight: bold;
  padding: 20px;
}

@media (min-width: 768px) {
  .main-header .headline {
    width: 20%;
  }
}

.main-header .main-header-search {
  padding: 20px;
}

@media (min-width: 768px) {
  .main-header .main-header-search {
    width: 80%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-left: 0.8px solid #b2b2b2;
    border-bottom: 0.8px solid #b2b2b2;
    background-color: #fbfbfb;
  }
}

.main-header .main-header-search .searchBar {
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .main-header .main-header-search .searchBar {
    width: 50%;
    float: right;
  }
}

@media (min-width: 1024px) {
  .main-header .main-header-search .searchBar {
    width: 40%;
  }
}

.main-header .alert {
  height: 70px;
  border: 1px solid black;
  display: none;
}

/* ============================================= */
/*              Traffic Chart Styles             */
/* ============================================= */
.traffic {
  text-align: center;
  border-bottom: 0.8px solid #b2b2b2;
}

@media (min-width: 768px) {
  .traffic {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
}

.traffic .traffic-header {
  padding: 20px;
}

.traffic .traffic-header h3 {
  color: #676767;
  height: 30px;
  font-size: 1.4em;
  font-weight: bold;
}

.traffic .traffic-header .traffic-nav {
  display: inline-block;
  color: #676767;
}

.traffic .traffic-header .traffic-nav .traffic-nav-link {
  text-align: center;
  width: 85px;
  height: 30px;
  line-height: 30px;
  margin: 0 2.5px;
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .traffic .traffic-header .traffic-nav .traffic-nav-link {
    float: right;
  }
}

.traffic .traffic-header .traffic-nav .traffic-nav-link:hover {
  color: white;
  border-radius: 15px;
  background-color: #81c98f;
}

@media (min-width: 768px) {
  .traffic .traffic-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.traffic .widget-container-full {
  width: 95vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
}

@media (min-width: 768px) {
  .traffic .widget-container-full {
    width: 90vw;
  }
}

@media (min-width: 768px) {
  .bar-chart {
    border-right: 0.8px solid #b2b2b2;
  }
}

.bar-chart,
.pie-chart {
  text-align: center;
  padding: 10px 0;
  border-bottom: 0.8px solid #b2b2b2;
}

@media (min-width: 768px) {
  .bar-chart,
  .pie-chart {
    border-top: 0;
    border-bottom: 0.8px solid #b2b2b2;
  }
}

.bar-chart h3,
.pie-chart h3 {
  color: #676767;
  height: 30px;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .bar-chart h3,
  .pie-chart h3 {
    text-align: left;
  }
}

.bar-chart .widget-container-half,
.pie-chart .widget-container-half {
  width: 95vw;
  margin: auto;
}

@media (min-width: 768px) {
  .bar-chart .widget-container-half,
  .pie-chart .widget-container-half {
    width: 45vw;
  }
}

/* ============================================= */
/*              Main Grid Layouts                */
/* ============================================= */
main {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  main {
    -ms-grid-columns: 50%;
        grid-template-columns: 50%;
  }
}

/* ============================================= */
/*              Social Stats Styles              */
/* ============================================= */
.social-stats {
  padding: 10px 0;
  text-align: center;
  border-bottom: 0.8px solid #b2b2b2;
}

@media (min-width: 768px) {
  .social-stats {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
    text-align: left;
  }
}

.social-stats h3 {
  color: #676767;
  height: 30px;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0 20px;
  margin-bottom: 10px;
}

.social-stats .stats-wrapper {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .social-stats .stats-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.social-stats .stats-wrapper .stats-container {
  width: 250px;
  height: 100px;
  background-color: #fbfbfb;
  border: 0.8px solid #b2b2b2;
  border-radius: 5px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .social-stats .stats-wrapper .stats-container {
    width: 25%;
  }
}

.social-stats .stats-wrapper .stats-container .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #7477bf;
  text-align: center;
  margin: auto;
}

.social-stats .stats-wrapper .stats-container .circle .icon {
  width: 40px;
  height: 40px;
  margin: 20px;
  line-height: 80px;
  fill: white;
}

.social-stats .stats-wrapper .stats-container .data {
  width: 60%;
  height: 100%;
}

.social-stats .stats-wrapper .stats-container .data .wrapper h4 {
  font-size: 1.2em;
  color: #4d4c72;
  padding: 20px 0 0 10px;
}

.social-stats .stats-wrapper .stats-container .data .wrapper h2 {
  font-size: 2.5em;
  font-weight: normal;
  color: #b2b2b2;
  padding: 0 10px;
}

/* ============================================= */
/*              Social Stats Styles              */
/* ============================================= */
.new-members {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
  border-bottom: 0.8px solid #b2b2b2;
}

@media (min-width: 768px) {
  .new-members {
    border-right: 0.8px solid #b2b2b2;
  }
}

.new-members h3 {
  color: #676767;
  height: 30px;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .new-members h3 {
    text-align: left;
  }
}

.new-members .member-nav {
  padding: 20px;
  text-align: center;
}

.new-members .member-nav .member-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  border-bottom: 0.8px solid #b2b2b2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .new-members .member-nav .member-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .new-members .member-nav .member-list .member-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

.new-members .member-nav .member-list .member-wrapper .member-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  margin-right: 10px;
}

.new-members .member-nav .member-list .member-wrapper .member-name {
  color: #b2b2b2;
  font-size: 1em;
  font-weight: bold;
}

.new-members .member-nav .member-list .member-wrapper .member-email {
  color: #7477bf;
  font-weight: normal;
}

.new-members .member-nav .member-list .date {
  float: right;
  color: #b2b2b2;
  font-size: 0.8em;
}
/*# sourceMappingURL=styles.css.map */