@mixin media-query-s($break-s) {
   @media (min-width:#{$break-s}) {
      @content;
   }
}

@mixin media-query-m($break-m) {
   @media (min-width:#{$break-m}) {
      @content;
   }
}

@mixin media-query-l($break-l) {
   @media (min-width:#{$break-l}) {
      @content;
   }
}

@mixin h3-style {
   color: #676767;
   height: 30px;
   font-size: 1.4em;
   font-weight: bold;
}

@mixin margin-center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

@mixin input-style {
   width: 80%;
   box-sizing: border-box;
   padding: 5px 10px;
   border: 1px solid #e5e5e5;
   border-radius: 4px;
}