//Color
$color-map:(
   'light-purple':#7477bf,
   'dark-purple':#4d4c72,
   'green':#81c98f,
   'blue':#74b1bf,
   'grey':#b2b2b2,
   'light-grey':#fbfbfb,
);

$break-s:320px;
$break-m:768px;
$break-l:1024px;