/* ============================================= */
/*              Aside Layout                     */
/* ============================================= */
aside {

   .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include media-query-m($break-m) {
         display: block;
      }

      li {
         width: 100%;
         padding: 15px 0;

         @include media-query-m($break-m) {
            margin-bottom: 30px;
            padding-bottom: 0;
         }

         &:hover {
            @include media-query-s($break-s) {
               border-bottom: 4px solid #81c98f;
            }

            @include media-query-m($break-m) {
               border-bottom: none;
               border-left: 4px solid #81c98f;
            }
         }

         .nav-icon {
            width: 60%;
            margin: 0 getMarginLeft(60%);
            fill: #b2b2b2;

            &:hover {
               fill: white;
            }
         }

      }

   }



}