/* ============================================= */
/*              Grid Layout                      */
/* ============================================= */

.grid-container {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: auto;
   grid-template-areas:
      "header"
      "aside"
      "main";
   

   @include media-query-m($break-m) {
      grid-template-columns: 60px 1fr;
      grid-template-areas:
         "header header"
         "aside main";
   }

   @include media-query-l($break-l) {
      grid-template-columns: 80px 1fr;
   }
}

header {
   grid-area: header;
}

aside {
   grid-area: aside;
}

main {
   grid-area: main;
}

main{
   // display: grid;
   
   
   
   @include media-query-m($break-m){
      grid-template-columns: 1fr;
   }
   @include media-query-l($break-l){
      grid-template-columns: 1fr;
   }
   
}