/* ============================================= */
/*              Header Styles                    */
/* ============================================= */
header {

   color: white;
   vertical-align: middle;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   .logo {
      height: 60px;
      line-height: 60px;
      font-size: 1.5em;
      font-weight: bold;
      margin: 10px;
   }

   .right-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .setting {
         
         &::after{
            content: '.';
            font-size: 4em;
            color: #81c98f;
            position: absolute;
            top: -.42em; 
            right: 2.4em;
        
            @include media-query-m($break-m){
               right: 9.3rem;
               top: -.4em;
            }
        }

         .bell {
            width: 30px;
            height: 30px;
            max-width: 100%;
            margin: 25px 0;
            padding-right: 5px;
           
            fill: white;

            &:hover {
               transform: scale(1.1) rotate(5deg);
               transform-origin: 50% 50%;
               transform-origin: center center;
               transition: transform 1s ease-in-out;
            }

            
         }

      }

      .border-line {
         border-left: 1px solid #4d4c72;
         width: 5px;
         height: 30px;
         margin: 30px 0;
      }

      .profile-avatar {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         margin: 20px 0 20px 5px;
      }

      .user-name {
         height: 60px;
         line-height: 60px;
         font-size: 1em;
         margin: 10px 10px 10px 5px;
      }
   }
}