/* ============================================= */
/*              Header Styles                    */
/* ============================================= */
header {

   color: white;
   vertical-align: middle;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   .logo {
      height:60px;
      line-height: 60px;
      font-size: 1.5em;
      font-weight: bold;
      margin: 20px 20px;
   }
   .right-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .setting {
         .bell {
            height: 40px;
            max-width: 100%;
            margin: 30px 0;
            padding-right: 10px;
            border-right: 1px solid #fefefe;
         }
         #notification {
            display: none;
         }
      }

      .profile-avatar {
         width: 50px;
         height:50px;
         border-radius: 50%;
         margin: 25px 0 25px 10px;
      }

      .user-name {
         height:60px;
         line-height: 60px;
         font-size: 1.2em;
         margin:20px 10px;
      }
   }
}