/* ============================================= */
/*              Traffic Chart Styles             */
/* ============================================= */
.message-users{
   padding:10px 0;
   text-align:center;
   border-right:0.8px solid #b2b2b2;
   border-bottom: 0.8px solid #b2b2b2;
   h3{
      @include h3-style;
      padding:0 20px;
      @include media-query-m($break-m){
         text-align: left;
      }
   }

   .searchForUser{
      @include input-style;
      background-color: #fbfbfb;
      margin:20px 0;
      padding:10px 10px;
      width:90%;
   }
   #messageBox{
      @include input-style;
      background-color: #fbfbfb;
      margin-bottom:10px;
      width:90%;
   }
  #sbtButton{
      color:white;
      width:90%;
      height:40px;
      border-radius:4px;
      background-color: #7477bf;
   }
}